assets/**/originals/
assets/_moodboard/
assets/hero/hero-patong-1080p25fps-old.mp4
assets/hero/hero-patong-4k50fps-old.mp4
assets/hero/hero-patong-original-4k.mp4
assets/hero/hero-patong-prevclip-old.mp4
assets/hero/diva-clip-processed.mp4
assets/hero/diva-clip-preview-frame.jpg
video-test.html
